<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <title>Pokedex Home</title>
<body>
    <div class="container">
    <h1>Welcome to your Pokedex!</h1>
        <!-- <% for (let i = 0; i < 6; i++ ){%> opening of js squid -->
    <h2> <%= pokemonData[i].name %> </h2>

                <!-- iterating through the pokemon data -->
        <a href="/pokedex/<%= i %>"><img src="<%= pokemonData[i].img%> " width="50px"></a>  
        <!-- <% } %> closing of js squid -->
    <nav>
        <a href="/pokedex/new">
            <input type="submit" value="Captured New Pokemon">
        </a>
    </nav>
    </div>
</body>
</html>