<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <title>Pokedex Home</title>
<body>
    <h1>Welcome to your Pokedex!</h1>
    <div class="container">
        <!-- <% for (let i = 0; i < pokemonData.length; i++ ){%> opening of js squid --
                <!-- iterating through the pokemon data -->
        <a href="/pokedex/<%= i %>"><img src="<%= pokemonData[i].img%> " width="100px"><%= pokemonData[i].name %></a>  
        
        <!-- <% } %> closing of js squid -->
    </div>
    <nav>
        <a id="pokebutton" href="/pokedex/new">
            <input type="submit" value="Capture New Pokemon">
        </a>
    </nav>
</body>
</html>