<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <title>New Pokemon Entry</title>
<body>
    <div id="newContainer">
    <h1>Captured!</h1>
    <form action="/pokedex" method="POST">
        Name: <input type="text" name="name"><br>
        Type: <input type="text" name="type"><br>
    </form>
    <form action="/pokedex" method="POST">
        <span>Stats</span><br> 
            HP: <input type="text" name="hp"> 
            Attack: <input type="text" name="attack">
            Defense: <input type="text" name="defense">
            Speed: <input type="text" name="speed"><br>
        Abilities: <input type="text" name="abilities">
    </form>
</body>
</html>