<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <title>New Pokemon Entry</title>
<body>
    <div class="newContainer">

    <h1>Captured!</h1>

    <form action="/pokedex" method="POST">
        Name: <input type="text" name="name" placeholder="Name"><br>
        Type: <input type="text" name="type" placeholder="Type"><br>
    </form>

    <form action="/pokedex" method="POST">
        <span>Stats</span><br> 
            HP: <input type="text" name="stats[hp]" placeholder="HP"><br> 
            Attack: <input type="text" name="stats[attack]" placeholder="Attack"><br> 
            Defense: <input type="text" name="stats[defense]" placeholder="Defense"><br> 
            Sp Attack: <input type="text" name="stats[spattack]" placeholder="Sp Attack"><br> 
            Sp Defense: <input type="text" name="stats[spdefense]" placeholder="Sp Defense"><br> 
            Speed: <input type="text" name="stats[speed]" placeholder="Speed"><br>
        Abilities: <input type="text" name="abilities" placeholder="Abilities"><br>
        <input type="submit" value="Add Pokemon">
    </form>
    </div>
</body>
</html>